.mtphrSettings {
  &__tabs {
    .components-tab-panel__tabs {
      flex-wrap: wrap;
    }
  }
  &__field {
    &--radio_buttons {
      &.mtphrSettings__field--inline {
        .components-radio-control__group-wrapper {
          flex-direction: row;
          justify-content: flex-start;
          flex-wrap: wrap;
        }
      }
    }
  }

  // Hide WordPress admin notices that appear inside the React app
  .notice {
    display: none !important;
  }

  // Header styles
  &__header {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
  }

  &__header-icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      display: block;
    }

    .dashicons {
      display: inline-block;
      text-align: center;
    }

    svg {
      display: block;
    }
  }

  &__header-content {
    flex: 1;
    min-width: 0;
  }

  &__header-description {
    margin: 0;
    color: #646970;
    font-size: 14px;
    line-height: 1.5;
  }

  &__header-version {
    flex-shrink: 0;
    margin-left: auto;
  }

  &__version-badge {
    display: inline-block;
    padding: 4px 8px;
    background-color: #f0f0f1;
    color: #646970;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4;
  }
}

// Container for main content and sidebar
.mtphrSettings__container {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

// Main content area
.mtphrSettings__main {
  flex: 1;
  min-width: 0; // Prevents flex item from overflowing
}

// Sidebar area
.mtphrSettings__sidebar {
  flex-shrink: 0;

  .mtphrSettings__field {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Responsive: stack vertically on mobile
@media screen and (max-width: 782px) {
  .mtphrSettings__container {
    flex-direction: column;
  }

  .mtphrSettings__main {
    max-width: 100% !important;
    width: 100%;
  }

  .mtphrSettings__sidebar {
    width: 100% !important;
  }
}
@media screen and (max-width: 782px) {
  .mtphrSettings {
    .mtphrSettings__field--group {
      .mtphrSettings__field__input-wrapper {
        > .components-h-stack {
          flex-direction: column;
          > div {
            width: 100%;
          }
        }
      }
    }
  }
}

// .mtphrSettingsAppsettings__form {
//   padding-left: 0;
// }
// .my-tab-panel {
//   display: flex;
//   flex-direction: row;
//   align-content: stretch;
//   .components-tab-panel__tabs {
//       flex-direction: column;
//   }
//   .components-tab-panel__tab-content {
//       flex: 1;
//   }
// }
